@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto&display=swap');

body {
    /*background-image: url('/IMAGES/pink.jpeg');*/
    background-color: #121212;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'roboto', sans-serif;
    color: white;
}
h1 {
    font-family: 'Tahoma';
    font-size: 2cm;
    text-transform: uppercase;
}

h2 {
    font-size: 1cm;
}

p {
    font-size: medium;
    color: white;
}

li {
    font-size: medium;
}

#SAR {
    background-color: brown;
    color: white;
    text-shadow: 12px;
}

.TKD {
    background-color: black;
    color: yellow;
    margin: 0px;
}

nav {
    background-color: darkblue; 
    color:white; 
    text-align: center;
    margin: 0px;
    background-image: url('/IMAGES/prism-crystal-lines-abstract-4k-eb-3840x2160-1.jpeg');
}

nav a {
    color: white;
    text-align: justify;
    text-justify: inter-word;
    margin: 0px;
}

h1.test {
    color:green;
}

h1 + p {
    color:blue;
}

/*table {
    background-color: white;
    border-color: fuchsia;
    color: navy;
    width: 500px;
    table-layout: fixed;
}*/

.about {
    columns: 100px 2;
}

header {
    background-color: #222222; 
    color:white; 
    text-align: center;
    margin: 0px;
    border:  0px;
}

.faves {
    text-align:center;
}
.columnl {
    float: left;
    width: 20%;
    padding: 10px;
    margin:auto;
}
.columnr {
    float: left;
    width: 75%;
    padding: 10px;
    margin:auto;
    
}
.row {
    content: "";
    display: table;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    }

article {
    width: 95%;
    margin: 2rem auto;
    padding: 20px;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.button {
    
    background: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    
    width: 200px;
  }

  .footer {
    background-color: #222222; 
    color: white; 
    text-align: center;
    margin: 0px; 
    border: 2px color cyan;
  }

  .image-blurred-edge {
    border-radius: 25px;
}

  .navButton {
    background-color: black;
    color: lightblue; 
    border: 4px solid lightblue;
    clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, 10% 110%, -10% 40%);
  }

  .navButton:hover {
    background-color: #121212;
    border: 2px solid cyan;
    color: cyan;
    clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, 10% 110%, -10% 40%);
  }

  